<a href="https://colab.research.google.com/github/JUERNES360/Biblioteca/blob/main/Laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso.
#Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos,
#como la verificación de valores faltantes y la validación de formatos de datos.

import pandas as pd

# Datos originales
data = {
'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
'Edad': [28, 34, None, 45, 38, 34],
'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']
}
df = pd.DataFrame(data)

# 1. Identificar y contar valores faltantes
print("Valores faltantes:")
print(df.isnull().sum())

# 2. Verificar formato de 'Salario'

print("\nFormato incorrecto en 'Salario':")
print(df[~df['Salario'].str.replace('[^0-9]', '').str.isdigit()])

# 3. Validar y estandarizar 'FechaIngreso'
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de la validación y estandarización de 'FechaIngreso':")

print(df)

Valores faltantes:
Nombre          0
Edad            1
Salario         0
FechaIngreso    0
dtype: int64

Formato incorrecto en 'Salario':
  Nombre  Edad    Salario FechaIngreso
2  Pedro   NaN  cinco mil   2022-07-01

Datos después de la validación y estandarización de 'FechaIngreso':
  Nombre  Edad    Salario FechaIngreso
0   Juan  28.0       3000   2021-01-15
1    Ana  34.0       4000          NaT
2  Pedro   NaN  cinco mil   2022-07-01
3  María  45.0       4500          NaT
4   Luis  38.0       4000   2021-05-20
5    Ana  34.0       5000   2020-03-12

In [2]:
#2.	#Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario, cargo de trabajo y fecha de ingreso.
#Se requiere implementar aseguramiento de la calidad de los datos, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.

import pandas as pd

# Datos originales
data = {
'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, None, 40, 45, 38, 34],
'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']
}

df = pd.DataFrame(data)

# 1. Identificar y contar valores faltantes
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)

# 2. Verificar formato de 'Salario'(asegurar que todos los valores sean numéricos)
salarios_incorrectos = df[~df['Salario'].str.replace('[^0-9]', '', regex=True).str.isdigit()]
print("\nSalarios con formato incorrecto:")
print(salarios_incorrectos)

# 3. Validar y estandarizar 'FechaIngreso' a formato YYYY-MM-DD
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')

# 4. Verificar valores faltantes en la columna "Cargo"
Cargo_faltantes = df[df['Cargo'].isnull()]
print("\nCargo faltantes:")
print(Cargo_faltantes)

# Mostrar el DataFrame actualizado
print("\nDatos después de la validación:")
print(df)
(valores_faltantes, salarios_incorrectos)

Valores faltantes por columna:
Nombre          0
Edad            1
Salario         0
Cargo           1
FechaIngreso    1
dtype: int64

Salarios con formato incorrecto:
  Nombre  Edad     Salario    Cargo FechaIngreso
3  María  45.0  cuatro mil  Gerente   2021/12/01

Cargo faltantes:
  Nombre  Edad Salario Cargo FechaIngreso
5  Carla  34.0    4000  None   2020-03-12

Datos después de la validación:
  Nombre  Edad     Salario          Cargo FechaIngreso
0   Juan  28.0        3000       Analista   2021-01-15
1    Ana   NaN        4000        Gerente          NaT
2  Pedro  40.0        4500  Desarrollador   2022-07-01
3  María  45.0  cuatro mil        Gerente          NaT
4   Luis  38.0        5000       Analista          NaT
5  Carla  34.0        4000           None   2020-03-12

(Nombre          0
 Edad            1
 Salario         0
 Cargo           1
 FechaIngreso    1
 dtype: int64,
   Nombre  Edad     Salario    Cargo FechaIngreso
 3  María  45.0  cuatro mil  Gerente   2021/12/01)