<a href="https://colab.research.google.com/github/JUERNES360/Biblioteca/blob/main/Laboratorio_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#1Datos originales
data = {
'Nombre': ['Carlos', 'Ana', 'Luis', 'Pedro', 'María', None],
'Edad': [34, 29, None, 45, 25, 33],
'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12'],
'ResultadoPrueba': ['Positivo', 'Negativo', 'Positivo', 'Positivo', 'Negativo', 'Negativo']
}
df = pd.DataFrame(data)
print("Datos originales:")
print(df)

#2_identificacion de los datos faltantes
print("\nValores faltantes:")
print(df.isnull().sum())

#3_Validar y corregir formato de fecha ingresa
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
#importar los valores faltantse de edad
df['Edad'].fillna(df['Edad'].mean(), inplace=True)

#Eliminar los registros faltantes
df.dropna(subset=['Nombre'], inplace=True)
print("\nDatos después de la limpieza:")
print(df)

Datos originales:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0   2020/03/12        Negativo
2    Luis   NaN   2022-07-01        Positivo
3   Pedro  45.0   2021/12/01        Positivo
4   María  25.0   2021-05-20        Negativo
5    None  33.0   2020-03-12        Negativo

Valores faltantes:
Nombre             1
Edad               1
FechaIngreso       0
ResultadoPrueba    0
dtype: int64

Datos después de la limpieza:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0          NaT        Negativo
2    Luis  33.2   2022-07-01        Positivo
3   Pedro  45.0          NaT        Positivo
4   María  25.0   2021-05-20        Negativo

<ipython-input-1-cb57d1885317>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].mean(), inplace=True)

In [2]:
import pandas as pd

#Datos Originales
data = {
'ClienteID': [1, 2, 3, 4, 5],
'Producto': ['A', 'B', 'C', 'D', 'E'],
'Cantidad': [10, 20, None, 5, 15],
'Precio': ['100', '200$', '300', 'cuatrocientos', '500'],
'FechaTransaccion': ['2023-01-15', '2023/02/20', '2023-03-25', '2023/04/30', '2023-05-10']
}
df = pd.DataFrame(data)
print("Datos originales:")
print(df)
df['Cantidad'] = df['Cantidad'].fillna(df['Cantidad'].median())
df['Precio'] = df['Precio'].replace('cuatrocientos', '400')
df['Precio'] = df['Precio'].str.replace(r'[^0-9]', '', regex=True).astype(int)
df['FechaTransaccion'] = pd.to_datetime(df['FechaTransaccion'], errors='coerce', format='%Y-%m-%d')

print("\nDatos después de la limpieza:")
print(df)
print("\nVerificación final:")
print(df.isnull().sum())
print(df.dtypes)

Datos originales:
   ClienteID Producto  Cantidad         Precio FechaTransaccion
0          1        A      10.0            100       2023-01-15
1          2        B      20.0           200$       2023/02/20
2          3        C       NaN            300       2023-03-25
3          4        D       5.0  cuatrocientos       2023/04/30
4          5        E      15.0            500       2023-05-10

Datos después de la limpieza:
   ClienteID Producto  Cantidad  Precio FechaTransaccion
0          1        A      10.0     100       2023-01-15
1          2        B      20.0     200              NaT
2          3        C      12.5     300       2023-03-25
3          4        D       5.0     400              NaT
4          5        E      15.0     500       2023-05-10

Verificación final:
ClienteID           0
Producto            0
Cantidad            0
Precio              0
FechaTransaccion    2
dtype: int64
ClienteID                    int64
Producto                    object
Cantidad                   float64
Precio                       int64
FechaTransaccion    datetime64[ns]
dtype: object

In [3]:
#crear un dataframe de los datos sucios
#1.	Rellenar valores faltantes.
#2.	Eliminar duplicados.
#3.	Estandarizar los valores de las columnas (como el género y el país).
#4.	Corregir valores inválidos (como la edad de 200 años).

import pandas as pd

# Crear un DataFrame con los datos sucios
data = {
'Nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luisa', 'Carlos', 'Juan'], 'Edad': [25, 30, None, 29, 28, 200, 25],
'Email': ['juan@mail.com',	'maria@mail.com',	'pedro@mail.com',	'ana@mail.com', 'luisa@mail.com', 'carlos@mail.com', 'juan@mail.com'],
'Pais': ['colombia', 'Colombia', 'Mexico', 'Argentina', 'Colombia', 'Brazil', 'colombia'],
'Genero': ['M', 'F', 'H', 'F', 'Femenino', 'M', 'M'], 'Visitas': [5, 7, 6, 4, 8, 2, 5]
}
df = pd.DataFrame(data)

# 1. Rellenar valores faltantes en 'Edad' con la mediana

df['Edad'].fillna(df['Edad'].median(), inplace=True)

# 2. Eliminar duplicados
df.drop_duplicates(inplace=True)

# 3. Estandarizar el género y el país

df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino', 'Femenino': 'Femenino'}, inplace=True)
df['Pais'] = df['Pais'].str.capitalize()

# 4. Corregir edades fuera de rango
df.loc[df['Edad'] > 100, 'Edad'] = df['Edad'].median()

# Ver los datos limpios
print("\nDatos limpios:")
print(df)

<ipython-input-3-2ed6ae3bfdd4>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)

Datos limpios:
   Nombre   Edad            Email       Pais     Genero  Visitas
0    Juan  25.00    juan@mail.com   Colombia  Masculino        5
1   Maria  30.00   maria@mail.com   Colombia   Femenino        7
2   Pedro  28.50   pedro@mail.com     Mexico  Masculino        6
3     Ana  29.00     ana@mail.com  Argentina   Femenino        4
4   Luisa  28.00   luisa@mail.com   Colombia   Femenino        8
5  Carlos  28.75  carlos@mail.com     Brazil  Masculino        2

<ipython-input-3-2ed6ae3bfdd4>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino', 'Femenino': 'Femenino'}, inplace=True)